.app-name{
    color: #000;
}
.HomePage .app-name {
    font-size: 3rem;
    margin: 30px auto;
}

.HomePage .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media screen and (max-width: 768px) {
    .HomePage .app-name{
        font-size: 2rem;
    }

    .HomePage .team-grid{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .HomePage .app-name{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 300px) {
    .HomePage .app-name{
        font-size: 1.5rem;
    }
}