.SmallDetailedCard{
    background-color: #BC6C25;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.3rem;
}
.SmallDetailedCard .vs{
    font-size: 0.9rem;
}

.SmallDetailedCard .teamname{
    font-size: 1.35rem;
}

.match-winner, .match-date{
    margin: 5px 0px;
}

@media screen and (max-width: 576px) {
    .SmallDetailedCard .teamname{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 489px) {
    .SmallDetailedCard .teamname{
        font-size: 1rem;
    }
}